p1{
    color: red;
    font-size: 30px;
    background-color: blue;
}
#id1{
    color: green;
    font-size: 33px;
    background-color: brown;
    text-align: center;
}
.c1{
    color: pink;
    font-size: 55px;
   
}
.c2{
    background-color: purple;
}
#icon1{
    color: brown;
    background-color: cadetblue;
    width: 200px;
    text-align: center;
}
#icon2{
    color: pink;
    background-color: black;
    width: 100px;
    text-align: center;
}
#icon3{
    color: yellow;
    background-color: cadetblue;
    width: 400px;
    text-align: center;
}